{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link href="{% static 'css/justifiedGallery.css' %}" rel="stylesheet">
	<link href="{% static 'css/fancybox.css' %}" rel="stylesheet">
{% endblock css %}


{% block title %} | {{photoset.name}}
{% endblock title %}


{% block content %}
<div class="set">
  <h1>{{photoset.name}}</h1>
  <div class="gallery">
  	{% for photo in photoset.photoset_urls %}
  		<a href="{{photo.large}}" data-fancybox="group" >
  			<img src="{{photo.small}}"/>
  		</a>
  	{% endfor %}
  </div>
</div>
{% endblock content %}


{% block javascript %}
	<script src="{% static 'js/justifiedGallery.js' %}"></script>
	<script src="{% static 'js/fancybox.min.js' %}"></script>
	<!-- <script src="{% static 'js/ios-orientationchange-fix.js' %}"></script> -->
	<script type="text/javascript">
		$(function() {
			$('.gallery').justifiedGallery({
				rowHeight : 300,
			    lastRow : 'justify',
			    margins : 16,
				rel : 'gallery'
			}).on('jg.complete', function () {
			    $('.img').fancybox();
			});
		});
	</script>
{% endblock javascript %}
